<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div id="sidebar" class="leaflet-sidebar">
            <!-- Nav tabs -->
            <div class="leaflet-sidebar-tabs">
                <ul role="tablist">
                    <li><a href="#home" role="tab"><i class="fa fa-home active"></i></a></li>

                    <li><a href="#towards" role="tab" class="CurrentDirection"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#from" role="tab"><i class="fa fa-street-view"></i></a></li>
                    <li><a href="#between" role="tab"><i class="fa fa-arrows-alt-h"></i></a></li>
                    <li><a href="#when" role="tab"><i class="fa fa-calendar-alt"></i></a></li>

                    <li><a href="#camera" role="tab"><i class="fa fa-camera"></i></a></li>
                    <li><a href="#timelapse" role="tab"><i class="fa fa-stopwatch"></i></a></li>

                    <!--<li class="disabled"><a href="#messages" role="tab"><i class="fa fa-anchor"></i></a></li>-->
                    <li><a id="zoomToLine"><i class="fa fa-map"></i></a></li>

                </ul>

                <ul role="tablist">
                    <li><a href="https://github.com/nickpeihl/leaflet-sidebar-v2"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="leaflet-sidebar-content">
                <div class="leaflet-sidebar-pane active" id="home">
                    <h1 class="leaflet-sidebar-header">
                        Where to Shoot?
                        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>


                    <h2>Landscape photography planning tools.</h2>
                    <h3>Features</h3>

                    <ul>
                        <li>Find where you can setup your camera to shoot a sunset(or sunrise etc.) <a class="openpanel" href="#towards">
                            behind a particular landmark or place</a> (the Eiffel Tower, Angel of the North, your town) on a <a class="openpanel" href="#when">date</a>.</li>
                        <li>Get an idea of the view from roads that cross that line using Google Street View.</li>
                        <li data-issue="7">Get an idea of the scope of your possible shots by showing the "Field of View" of your <a class="openpanel" href="#camera">camera and lens</a> combo.</li>
                        <li data-issue="9">See what you can shoot into a Sunset etc. <a class="openpanel" href="#from">from</a> a position on a <a class="openpanel" href="#when">date</a>.</li>
                        <!--
                            <li data-issue="">What Points of Interest are within your shot?</li>
                            <li data-issue="17">What area you shot will encompass? Taking into account horizon and hills)</li>
                        -->
                        <li data-issue="13">Find out when you can get a Sunset / Sunrise Shot from
                            <a class="openpanel" href="#between">one spot to another</a>.</li>
                        <li>Landscape Timelapse Calculations
                            <ul>
                                <li data-issue="25">What <a class="openpanel" href="#timelapse">timelapse interval</a> you will need for how much video? for what time?</li>
                                <!--
                                     <li data-issue="24">What lense will you need to get the framing right for the Sun at the start of Sunrise to the end of golden hour etc.</li>
                                -->
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="leaflet-sidebar-pane" id="towards">
                    <h1 class="leaflet-sidebar-header">
                        What to shoot towards?
                        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>
                    <ul>
                        <li>
                            Choose a place you want in the centre of your shot (drag <i class="fa fa-eye"></i> or use the search)
                        </li>
                        <li>Change the time of day and date in the calendar section below <i class="fa fa-calendar"></i></li>
                        <li>The green sections of the line should give you a decent veiw</li>

                        <li>Click <i class="fa fa-street-view "></i> for a view towards the target, click that to open it in Google Street View</li>

                    </ul>
                    <div class="linesummary"></div>

                </div>


                <div class="leaflet-sidebar-pane" id="from">
                    <h1 class="leaflet-sidebar-header">
                        Where to shoot from?
                        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>
                    <ul>
                        <li>
                            Choose a place you want to set up your camera (Drag <i class="fa fa-camera"></i> or use the search)
                        </li>
                        <li>Change the time of day and date in the calendar section below <i class="fa fa-calendar"></i></li>
                        <li>The green sections of the line should be visible from where the camera is set up.</li>

                    </ul>
                    <div class="linesummary"></div>

                </div>


                <div class="leaflet-sidebar-pane" id="between">
                    <h1 class="leaflet-sidebar-header">
                        Shooting between
                        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>
                    <ul>
                        <li>
                            Choose a place you want in the centre of your shot (drag <i class="fa fa-eye"></i> or use the search) and where you want to set your camera up (drag <i class="fa fa-camera">)</i>
                        </li>
                        <li>The the camera and eye both need to been in green sections of the line to get a decent veiw</li>
                    </ul>
                    <div id="betweensummary"></div>
                    <div id="suntimes"></div>

                </div>

                <div class="leaflet-sidebar-pane" id="when">
                    <h1 class="leaflet-sidebar-header">
                        When to shoot?
                        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>

                    <div>
                        <label>What Event?</label>
                        <select name="timetype">
                          <!--
                            <option>nauticalDawn</option>
                            <option>dawn</option>
                            <option>sunrise</option>
                            <option>sunriseEnd</option>
                            <option>goldenHourEnd</option>
                            <option>goldenHour</option>
                            <option>sunsetStart</option>
                            <option>sunset</option>
                            <option>dusk</option>
                            <option>nauticalDusk</option>
                        -->
                            <option value="nauticalDawn">Nautical Dawn</option>
                            <option value="dawn">Dawn</option>
                            <option value="sunrise">Sunrise</option>
                            <option value="sunriseEnd" >Sunrise End</option>
                            <option value="goldenHourEnd">End of Dawn Golden Hour</option>

                            <option value="goldenHour">Evening Golden Hour</option>
                            <option value="sunsetStart">Sunset Start</option>
                            <option value="sunset">Sunset</option>
                            <option value="dusk">Dusk</option>
                            <option value="nauticalDusk">Nautical Dusk</option>
                      
                        </select>
                    </div>
                    <div>

                        <label>On What Date?</label>
                        <input name="timedate" type="date" />
                        <p>
                            Time <span id="time"></span>
                        </p>
                    </div>
                </div>

                <div class="leaflet-sidebar-pane" id="camera">
                    <h1 class="leaflet-sidebar-header">
                        Camera Views
                        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>
                    <div>
                        <label>Camera Height (m)</label>
                        <input id="cameraheight" type="number" min="0" max="50" step="0.1" value="1.5" />

                    </div>
                    <div>

                        <label>Lens Focal Length (<span id="lensfl_val"></span>mm)</label>
                        <input type="range" id="lensfl" name="focallength" list="LenseMaxes" min="10" max="600">
                        <datalist id="LenseMaxes">
                            <option value="25">25mm</option>
                            <option value="35">35mm</option>
                            <option value="50"  >50mm</option>
                            <option value="100" >100mm</option>
                            <option value="200">200mm</option>

                            <option value="300">300mm</option>
                            <option value="500">500mm</option>
                        </datalist>
                        
                        <!--<select id="lensfl">
                            <option value="none" selected >Select One</option>
                            <option value="25">25mm</option>
                            <option value="35">35mm</option>
                            <option value="50"  >50mm</option>
                            <option value="100" >100mm</option>
                            <option value="200">200mm</option>

                            <option value="300">300mm</option>
                            <option value="500">500mm</option>
                        </select>-->
                    </div>

                    <div>
                        <label>Camera Sensor</label>
                        <select id="cameras">
                            <option value="36x24">35mm Full Frame</option>
                            <option value="28.7x19"  >APS - H (Canon)</option>
                            <option value="22.2x14.8" selected >APS - C (Canon)</option>
                            <option value="23.6x15.7"  >APS - C (not Canon)</option>

                            <option value="20.7x13.8">Foveon (Sigma)</option>
                            <option value="17.3x13"  >Four Thirds (Olympus, Panasonic)</option>
                            <option value="13.2X8.8"  >1' (Nikon Sony)</option>
                            <option value="8.6x6.6"  >2/3' (Fuji, Nokia)</option>

                            <option value="7.6x5.7"  >1/1.7'</option>
                            <option value="5.76x4.29"  >1/2.5'</option>        
                        </select>
                    </div>

                </div>

                <div class="leaflet-sidebar-pane" id="timelapse">
                    <h1 class="leaflet-sidebar-header">Timelapse Calculations<span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                    <p>
                        Select the radio button to the right of the amount to are interested in calculating.
                    </p>
                    <div>
                        <label>Interval between shots (secs)</label><input name="interval" type="number" min="1" />
                        <input type="radio" name="tl_calc" value="interval" />
                    </div>
                    <div>
                        <label>Shooting Duration (mins)</label><input name="shoot_mins" type="number" min="1" />
                        <input type="radio" name="tl_calc" value="shoot_mins" />
                    </div>
                    <div>
                        <label>Frames To Shoot</label><input name="frames" type="number" min="1" />
                    </div>

                    <div>
                        <label>Playback FPS 
                        </label>
                        <input name="FPS" list="fpses"  min="1" max="60" type="range" />
                        <datalist id="fpses">
                            <option value="1"></option>
                            <option value="10"></option>
                            <option value="12"></option>
                            <option value="15"></option>
                            <option value="24"></option>
                            <option value="25"></option>
                            <option value="30"></option>
                            <option value="60"></option>
                        </datalist>
                        <input name="FPS"  type="number" min="1" max="60"/>
                    </div>



                    <div>
                        <label>Playback Duration (secs)</label><input name="play_secs" type="number" steps="0.1" />
                        <input type="radio" name="tl_calc" value="play_secs" checked />
                    </div>
                </div>


                <div class="leaflet-sidebar-pane" id="about">
                    <h1 class="leaflet-sidebar-header">About<span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                    <h2>
                        Where to Shoot?
                    </h2>

                    <p>Landscape photography planning tools</p>
                    <h3>Credits</h3>
                    <p>This includes code from</p>
                    <ul>
                        <li>Suncalc</li>
                    </ul>
                    <p>
                        made with <i class="fa fa-heart" aria-hidden="true"></i> in <a href="https://en.wikipedia.org/wiki/Sheffield">Sheffield</a>
                    </p>

                </div>



                <div class="leaflet-sidebar-pane" id="messages">
                    <h1 class="leaflet-sidebar-header">Messages<span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                </div>
            </div>
        </div>

        <div id="map"></div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/scripts %>
</body>

</html>
