<%
  var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
%>
<table>
    <tr>
        <th>Event</th>
        <th>Date </th>
        <th>Time</th>
        <th>Difference</th>
    </tr>
    <% aSunEvents.forEach(function(event){ %>
        <tr>
            <td>
                <%= event.event %>
            </td>
            <td>
                <%= event.date.toLocaleDateString('en-GB', options) %>
            </td>
            <td>
                <%= event.time.toLocaleTimeString('en-GB') %>
            </td>
            <td>
                <%= Math.round(event.diff * 100)/100 %>&deg;
            </td>
        </tr>
        <% }); %>
</table>
